/*
colors used:
primary color(black): #2f2d27;
secondary color(yellow):#fce77a;
*/
header{
    background-color: #fce77a;
    width: 100%;
    padding: 10px;
    text-align: center;
    box-shadow: 0 9px 25px #9e624c; 
    position:fixed;
}
nav{
    display: inline-block;
    width: 100%;
}
nav>ul{
    list-style-type: none;
    padding: 0;
}
nav>ul>li{
    display: inline-block
}
nav>ul>li>a{
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;
}
nav>ul>li>a:active{
    color: #8a4207;
}
#hero{
    background-color: #fce77a;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
}
#hero span{
    display: block;
}
main{
    padding-top: 185.19px;
}
*{
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height:1.6;
    color:#2f2d27;}
h1,h2,h3{
    line-height:1.4;
}
h1{
    font-family:'Open Sans', sans-serif;
    font-size: 2.75em;
    font-weight:700;
}
h2{
    font-family:'Open Sans', sans-serif;
    font-size: 2.25em;
    font-weight:700;
}
h3{
    font-family: 'Barlow', sans-serif;
    font-size: 1.75em;
    font-weight:700;
}
img{
    width:100%;
}
a{
    color:#0000ee;
    text-decoration: none; 
}
a:visited{
    color: #800080;
}
a:hover,
a:focus{
    color:#cc6540;
    text-decoration: underline;
}
a:active{
    color: #994c30;
}
.button{
    display: inline-block;
    background-color: #ff7f50;
    color:#ffffff;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #994c30;
    transition: 0.2s opacity;
}
.button:hover{
    opacity: 0.8;
    text-decoration: none;
}
.button:active{
    background-color: #f7551a;
    color:#ffffff;
}
.button.contact{
    background-color: transparent;
    color: #ff7f50;
    text-transform: uppercase;
    border: 2px solid #ff7f50;
}
.button.contact:hover{
    background-color: #ff7f50;
    color: #ffffff;
}
.button.contact:active{
    background-color:#f7551a;
    color:#ffffff;
}

#yz-logo {
    width: 100px;
    height: 100px;
    max-width: 250px;
}

/* Layout styling */
.container{
    padding: 0 15px;
}
#work.row{
    margin: 25px 0;/* 25px top and bottom, 0 left and right */
    padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; 
}
#hero h1{
    text-align: center;
}
.center{
    text-align: center;
}
.row::after{
    content:"";
    clear: both;
    display: table;
}


/* medium breakpoit (640px and larger) */
@media only screen and (min-width: 640px){
header{
    text-align: unset;
    padding: 20px 0 13px;
}
nav{
    width: auto;
    float: right;
    margin-top: 20px;
}
main{
    padding-top: 140.59px;
}
body{
    font-size: 18px;
}
#hero span{
    display: block;
}

.col-md-6{
    width: 50%;
}

#work h3{
    margin-top:0;
}
#about-page h3{
    margin-top:0;
}
}

/* large breakpoint (1024px or larger) */
@media only screen and (min-width: 1024px){
.col-lg-7{
    width: 58.33%;
}
.col-lg-5{
    width: 41.66%;
}
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
}

/* x-large breakpoint (1440px or larger) */
@media only screen and (min-width: 1440px){

}
[class*="col-"]{
    float: left;
    padding: 10px;
}